.cart-size{
    
    margin-left: 80px;
    max-width: 80% ;
    min-width: 65%;
    min-height: 40vw;

}
.cart-left{
    display: flex;
    
}
.cart-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-cart{
 width: 80%;
}

.cart-items{
    display: flex;
    background-color:rgb(219, 219, 219);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    justify-content: space-around;
    
}
.container-cart{
    
    background:  white;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
    
}
.container-cart p{
    color: black;
    
}
.cart-de{
    width: 150px;
    margin-top:13px;
    margin-bottom:10px;
    
}
.cart-de p{
   margin-top: 10px;
    
}
.cart-de-right{
    display: flex;
    align-items:center ;
}
.cart-de-right input{
    text-align: center;
  
    margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 25px;
   
}
.cart-de-right button{
    display:flex ;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 25px;
    
    
    
}

/* -------------------------------checkout-----------------------
} */

.checkout{
 display: flex;
 margin-left: 25px;
 width: 100%;
 height: auto;
 margin-bottom: 50px;
}



.checkout p{
    color: black;
    
}
.total{
    display: flex;
    font-size: 20px;
    justify-content: end;
    flex-direction: column;
    width: 20%;
    background-color: rgb(255, 255, 255);
    min-height: 40vw;
    border-left: solid;
    border-width: 2px;
}
#total{

   display: flex;
   justify-content: start;
   margin-left: 40px;
}
.step{
    display: flex;
    flex-direction: column;
   padding-top: 20px;
}
.step p{
    margin-bottom: 15px;
}
.cck{
    display: flex;
    min-height: 40vw;
}
.qr p{
    margin: 0;
}

 /* -------------------------------------cartnull------------------------ */

 .btn-shop{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
 }
 .null-1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
 }
 .null-2{
    display: flex;
    justify-content: center;
 }
 .btn-shop p{
    
    color: white;
 }
 .cart-null{
    display: flex;
    flex-direction: column;
   
    
    margin-top: 300px;
    min-height: 30vw;
 }
 .container-cart-null{
    
    background:  white;
    
    margin: auto;
    
    
    
}